{% extends 'core/base.html' %}

{% block title%} About {% endblock%}

{% block content%}
<div class="w-3/4 my-2 mx-auto bg-gray-100 p-6">
    <h1 class="text-3xl mb-2 text-center"><strong>COUNTY GOVERMENT OF ELGEIYO MARAKWET </strong> </h1>

    <p>
        this service is brought to you in conjuction with the <strong>DEPARTMENT OF ICT & PUBLIC SERVICE</strong>,corraption will not be tollarated
        and will recive adequate panishment

    </p>

    <p class="mt-4">
        transparency of the application process is the first priority of this plartform and the county as a whole, 
        we quarantee speedy application and response process, incase of delays or queries us the communication plartforms 
        below or click on the customercare button to chat with the customer care desk and get responses the note the responses might be automated
    </p>

    <p class="mt-2"><strong class="text-2xl text-black-900">Vision:</strong> A world class provider of cost-effective ICT 
        infrastructure facilities and services for efficient and effective public service</p>
    <p><strong class="text-2xl text-black-900">Mission:</strong>To provide efficient affardable and reliable infrastructure 
        for sustainable economic growth and development for improved service delivery</p>
    <h3 class="text-2xl text-black-900"><strong>Communication Plartforms</strong></h3>
    <ul>
        <li><a href="#" class="text-blue-500">www.elgeiyomarakwet.go.ke</a></li>
        <li><a href="#" class="text-blue-500">www.elgeiyomarakwetcpsb.go.ke</a></li>
        <li><a href="#"class="text-blue-500"><STRONG>Facebook:</STRONG>county goverment of elgeiyo marakwet</a></li>
        <li><a href="#"class="text-blue-500"><STRONG>Twitter:</STRONG>@elgeiyomarakwetc</a></li>
    </ul>
    <a href="#" ><STRONG>Paybill No: 827600</STRONG></a>
    <div class="w-1/2 my-2 mx-auto">
        <p class="text-center text-3xl"><strong>Public Communication Unit</strong></p>
        <p class="text-center text-3xl"><strong>P.O Box 220 - 30700,</strong></p>
        <p class="text-center text-3xl"><strong>iten.</strong></p>
    </div>

</div>
{% endblock%}